.container{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 10px;
    margin-left: 40%;
    margin-top: 10%;
}

.container div{
    background-color: green;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 100px;
}